
/* ------ UTILITES ---------*/

.overflow-hidden{
	overflow: hidden;
}

.align-self-end{
	display: grid;
	align-self: self-end;
}

.align-items-end{
	display: flex;
	align-self: self-end;
}

.margin-top{
	margin-top: auto;
	display: flex;
	flex-direction: column;
}

.height-100{
	min-height: 100%;
}

.gap-30px{
	gap: 235px;
}

/* ------ FONTS ---------*/


@font-face{
	font-family: "futura-pt-bold", sans-serif;
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: "futura-pt", sans-serif;
	font-weight: 600;
	font-style: normal;

}


@font-face{
	font-family: "futura-pt", sans-serif;
	font-weight: 500;
	font-style: normal;
}


@font-face{
	font-family: "futura-pt", sans-serif;
	font-weight: 400;
	font-style: normal;
}




/* ------ Global Styles ---------*/



p { 
	font-family: "futura-pt";
	font-size: 25px;
	font-weight: 400;
	color: #000000;
	line-height: 145%;
 }



h1{
	font-family: "futura-pt-bold";
	font-weight: 700;
	font-size: 96px;
	color: #FFFFFF;
	padding: 0px;

}


h2{
	font-family: "futura-pt";
	font-weight: 600;
	font-size: 54px;
	color: #1650A2;
	margin: 0px;
}


h3{
	font-family: "futura-pt";
	font-weight: 600;
	font-size: 55px;
	color: #1650A2;
}



h4{
	font-family: "futura-pt";
	font-weight: 500;
	font-size: 35px;
	color: #1650A2;
}


h5{
	font-family: "futura-pt";
	font-weight: 500;
	font-size: 32px;
	color: #1650A2;
	text-decoration: none;
	margin: 0px;
}


body{
	font-family: futura-pt;
}




/* ------ NAVIGATION ---------*/

.nav-link {
	color: #ffffff;
	text-decoration: none;
}


.nav-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.nav-text{
	font-family: "futura-pt";
	font-weight: 500;
	font-size: 25px;
	color: ffffff;
	padding-right: 100px;

}


nav, li{
	list-style: none;

}


header{
	background-color: #1650A2;
}



nav ul {
	display: flex;
	justify-content: center;
	gap: 180px;
}






/* ------ Images ---------*/


.aquarium-logo-2{
	width: 60%;
}


.hero-image {
	background-image: url(images/hero-image.webp);
	background-size: cover;
	width: 100%;
	object-fit: cover;
	background-position: center;
	height: 675px;

	
}

.discovery-gallery-image{
	aspect-ratio: 1 / 1;
	width: 95%;
	height: 100%;
	overflow: hidden;
	background-position: center;
	object-fit: cover;

}
.donate-hero-image{
	width: 100%;
	height: 100%;
	aspect-ratio: 3 / 1;
	object-fit: cover;

}

.halloween-image{
	aspect-ratio: 4 / 3;
	width: 100%;
	overflow: hidden;
	height: 100%;
	object-fit: cover;
	padding-top: 30px;
	padding-left: 75px;
}



.gallery-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	
}

.gallery-image{
	width: 100%;
	height: 100%;
	aspect-ratio: 5 / 4;
	object-fit: cover;
}

.isopod-img{
	aspect-ratio: 1 / 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-position: center;
	object-fit: cover;
	
}


.square-image{
	aspect-ratio: 1 / 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-position: center;
	object-fit: cover;
}


.sturgeons-image{
	display: flex;
	width: 100%;
	height: 100%;
	aspect-ratio: 16 / 9;
	overflow: hidden;
	background-position: center;
	object-fit: cover;
	padding-top: 60px;

}

.card-img-wrap{
	overflow: hidden;
	aspect-ratio: 3 /2;
	object-fit: cover;


}

.card-image {
	width: 100%;
	object-fit: cover;
}

.card-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

}

/* ------ Text Styles ---------*/

.programs-text{
	font-size: 24px;
	text-align: center;
	color: white;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}
.hero-text{
	text-align: left;
	margin-right: 20%;
}

.indented-header{
	margin-left: 250px;
	align-items: center;
	padding-bottom: 5px;
}

.indented-text{
	display: flex;
	align-items: center;
	margin-left: 400px;

}

.gallery-light-txt{
	font-family: "futura-pt";
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
	

.painting-artist{
	margin-top: 45px;
	margin-bottom: 26px;

}

.text-center{
	text-align: center;
}


/* ------ Text Color ---------*/

.white-text{
		color: #ffffff;
}

.db-text{
	color: #1650A2;
}

/* ------ Icons ---------*/

.mail-icon{
	width: 10%;
}

.map-icon{
	width: 25%;
}

.search-icon{
	width: 1%;
	position: absolute;
	right: 12.5%;
	top: 45%;

}

.discovery-waves-lb{
	width: 20%;
	position: absolute;
	bottom: -3%;
	right: 25%;
	z-index: -1;
}

.discovery-waves-db{
	width: 20%;
	position: absolute;
	top: 4%;
	left: 23%;
	z-index: 1;
}


.waves-lb{
	width: 30%;
	position: absolute;
	bottom: -13%;
	right: 30%;
	z-index: -1;
}


.isopod-waves{
	transform: rotate(90deg);
	width: 30%;
	position: absolute;
	top: -20%;
	right: 0%;
	z-index: 1;
}

.donate-waves{
	transform: rotate(90deg);
	width: 30%;
	position: absolute;
	bottom: -20%;
	right: -15%;
	z-index: 1;

}

.footer-icons{
	display: flex;
	justify-content: right;
	align-items: center;
	width: 2%;
	gap: 70px;
}

.waves-db{
	width: 35%;
	position: absolute;
	bottom: 15%;
	left: 15%;
	z-index: -1;

}

.fieldtrip-waves{
	width: 30%;
	position: absolute;
	top: -20%;
	left: -20%;
	z-index: 1;
}

/* ------ Grids ---------*/

.donate-amount-form{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
 	grid-template-rows: 2fr 2fr; 
 	gap: 2em;
 	width: 100%;
}

.donation-input {
	width: 100%;
  	padding: 35px;
  	margin: 10px 0;
	border-style: solid;
	border-width: 6px;
	border-color:#1650A2 ;
  	font-size: 25px;

 }

.input::placeholder{
  color:#1650A2;
}

/* ------ Postioning ---------*/

.position-relative {
	position: relative;
}

.z-index-2{
	position: relative;
	z-index: 2;
}

.align-items-end{
	align-items: end;
}



/* ------ Backgrounds ---------*/

.background-blue{
	background-color: #1650A2;
}


.background-lb{
	background-color: #65CCEB;
}





/* ------ Buttons ---------*/

.hero-btn {
	color: #1650A2;
	padding: 24px 120px;
	background: white;
	text-decoration: none;
	border: none;
	font-family: "futura-pt";
	font-weight: 500;
	font-size: 25px;

	
}


.btn-wrap {
	display: flex;
	flex-direction: row;
	align-items: end;
	gap: 20px;
	

}

.prgms-btn{
	display: block;
	padding: 24px 63px;
	text-decoration: none;
	text-align: center;
	font-weight: 500px;
	font-family: "futura-pt";
	font-size: 25px;
	margin-top: 25px;
	border: solid 6px #1650A2;
	color: #1650A2;
	background-color: white;
	align-items: end;

}

.btn{
	display: inline-block;
	padding: 24px 87px;
	text-decoration: none;
	text-align: center;
	font-weight: 500px;
	font-family: "futura-pt";
	font-size: 25px;
	margin-top: 25px;


}


.blue-btn{
	border: solid 6px #1650A2;
	color: #1650A2;
	background-color: white;
}



.white-btn{
	border: solid 6px white;
	color: white;
	background: transparent;
}


.dark-blue-btn{
	color: white;
	background-color: #1650A2;
	margin-top: 60px;
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	padding: 24px 87px;
}



.lb-btn{
	color: #1650A2;
	background-color: #65CCEB;
	display: block;
	padding: 24px 87px;
	text-decoration: none;
	text-align: center;
	font-weight: 500px;
	font-family: "futura-pt";
	font-size: 25px;

}

.other-btn{
	grid-column: 2 / span 2;
	display: block;
	box-sizing: border-box;
	width: 85%;

}

.learn-more-btn{
	color: #1650A2;
	padding: 0px;
	margin-left: 0px;
	display: inline-flex;
	align-items: center;
	gap: 6px;
	border: none;
	background: transparent;

}










.nav-wrap-mobile{
	display: none;
}

.hero-wrap-mobile{
	display: none;
}

.line {
	width: 100%;
	height: 2px;
	background-color: #FFF4E2;
}

/* ----MOBILE---- */

@media screen and (max-width: 550px) {

	.nav-wrap {
	display: none;
	}

	.nav-wrap-mobile{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	}


	.logo{
	width: 50%;
	}

	
	.hamburger {
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	}

	.btn{
	display: block;
	}

	.isopod-waves{
	transform: rotate(90deg);
	width: 50%;
	position: absolute;
	top: -7%;
	right: 0%;
	z-index: 1;
	}

	.db-text{
	color: #1650A2;
	text-align: center;
	}

	.dark-blue-btn{
	color: white;
	background-color: #1650A2;
	margin: 20px;
	margin-bottom: 20px;
	border: none;
	display: inline-flex;
	align-items: center;
	gap: 6px;
	padding: 24px 50px;
	}

	.hero-text{
	text-align: left;
	}

	.btn-wrap {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;

	}

	.halloween-image{
	aspect-ratio: 4 / 3;
	width: 100%;
	overflow: hidden;
	height: 100%;
	object-fit: cover;
	padding-top: 30px;
	padding-left: 0px;
	}

	.waves-lb{
	width: 60%;
	position: absolute;
	bottom: -2%;
	left: -10%;
	z-index: -1;
	}

	.indented-header{
	margin-left: 0px;
	align-items: center;
	padding-bottom: 5px;
	}

	.indented-text{
	display: flex;
	align-items: center;
	margin-left: 0px;
	}

	.learn-more-btn{
	color: #1650A2;
	padding: 0px;
	margin-left: 0px;
	margin-bottom: 20px;
	display: inline-flex;
	align-items: center;
	gap: 6px;
	border: none;
	background: transparent;

	}

	.aquarium-logo-2{
	width: 60%;
	display: flex;
	justify-content: center;
	}

	.footer-icons{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2%;
	gap: 70px;
	padding-top: 40px;
	}


	.white-btn{
	border: solid 6px white;
	color: white;
	background: transparent;
	margin-bottom: 20px;
	}

	.height-100{
	min-height: 100%;
	margin-bottom: 20px;
	}

	.discovery-waves-db{
	width: 50%;
	position: absolute;
	top: -3%;
	left: -10%;
	z-index: 1;
	}


	.gap-30px{
	gap: 20px;
	}


	.donate-waves{
	transform: rotate(90deg);
	width: 50%;
	position: absolute;
	bottom: -3%;
	right: -25%;
	z-index: 1;

	}

	.donate-amount-form{
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: 1fr;
 	gap: 2em;
 	width: 100%;

	}

	.other-btn{
	grid-column: 1 / span 1;
	display: block;
	box-sizing: border-box;
	width: 72%;

	}

	.donation-input {
	width: 90%;
  	padding: 35px;
  	margin: 10px 0;
	border-style: solid;
	border-width: 6px;
	border-color:#1650A2 ;
  	font-size: 25px;

 	}
















}




